<% include ../partials/header.ejs %>

<h1>People</h1>
<p><a href="/people/create">New Person</a></p>

<table class="table table-stripped table-hover table-bordered">

<tr>
<th>NAME</th>
<th>BIRTHDAY</th>
<th>JOB</th>
<th>ACTIONS</th>
</tr>
<% people.map(person => { %>
<tr>
<td><%= person.name %></td>
<td><%= person.birthday %></td>
<td><%= person.job %></td>
<td>
<div class="btn-group" role="group">
<a role="button" class="btn btn-warning" href="/people/update/<%= person.id %>">Update</a>
<a role="button" class="btn btn-danger" href="/people/delete/<%= person.id %>">Delete</a>
</div>
</td>
</tr>
<% }) %>

<td>

</td>

</table>

<% include ../partials/footer.ejs %>
