<% include ../partials/header.ejs %>

<section id="about">
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2>TV Shows</h2>
      <p class="lead">Easy management on your hands: <a href="/tv-shows/new"class="btn btn-primary">New</a></p>
      <table class="table table-hover table-stripped">   
      <% results.data.forEach( shows => { %>
      <tr>
        <td>
          <a href="/tv-shows/info/<%= shows.id %>"><%= shows.name %></a>
        </td>
        <td>
        <span class="badge badge-<% if(shows.status === 'to-watch') { %>success<% } 
        else if(shows.status === 'watching') { %>warning<% }
        else { %>danger<% }%>"><%= shows.status %></span>
        </td>
        <td>
          <a href="/tv-shows/update/<%= shows._id %>" >Update</a> |
          <a href="/tv-shows/delete/<%= shows._id %>" >Delete</a>
        </td>
      </td>
      </tr>  
      <% } ) %>
      </table>

      <nav aria-label="Page navigation example">
  <ul class="pagination">
  <% if(results.pagination.currentPage > 0) { %>
    <li class="page-item">
      <a class="page-link" href="/tv-shows?page=<%= results.pagination.currentPage - 1 %>&pageSize=<%= results.pagination.pageSize %>">Previous</a>
    </li>
    <% } %>
    <% for(let i = 0; i < results.pagination.pages; i++) { %>
      <li class="page-item <% if( i == results.pagination.currentPage){ %> active <% } %>">
        <a class="page-link" href="/tv-shows?page=<%= i %>&pageSize=<%= results.pagination.pageSize %>"><%= i + 1 %></a>
      </li>
    <% } %>

    <% if(results.pagination.currentPage < results.pagination.pages - 1){ %>
    <li class="page-item">
      <a class="page-link" href="/tv-shows?page=<%= results.pagination.currentPage + 1 %>&pageSize=<%= results.pagination.pageSize %>">Next</a>
    </li>
    <% } %>
  </ul>
</nav>
    </div>
  </div>
</div>
</section>

<% include ../partials/footer.ejs %>